<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>

<body style="margin: 0; padding: 0; background-color: #000;">

  <table style="padding: 0; width: 800px; margin: 0 auto; table-layout: fixed;" cellpadding="0" cellspacing="0"
    width="800px">
    <tbody>

      <!-- HEADER -->
      <tr>
        <td style="background-color: #000;">
          <table style="background: url(https://evolv.co.in/evolve_business/images/mailer/headerimg.png) 0% 0%/800px no-repeat;"
            cellpadding="0" cellspacing="0" width="800px">
            <tbody>
              <tr>
                <td style="height: 420px; width: 100%;"></td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>

      <!-- TITLE IMAGE -->
      <tr>
        <td style="background-color: #000; text-align: center;">
          <h1 style="color: #fff;font-size: 40px; ">
            Unlock Evolv, <br> Networking & Learning <br> with Evolv Spectrum!
          </h1>
        </td>
      </tr>

      <!-- INTRO -->
      <tr>
        <td style="background-color: #000; text-align: left; padding: 20px 50px;">
          <p style="font-family: Archivo, sans-serif; font-size: 22px; color: #fff; line-height: 1.6;">
            Dear <b>[Recipient Name]</b>,<br><br>
            At <b>Evolv Network</b>, we believe in connecting like-minded – passionate and Evolv-enthusiast business
            founders to grow through connections and learning.
          </p>
        </td>
      </tr>

      <!-- BULLET POINTS -->
      <tr>
        <td style="background-color: #000; padding: 20px 50px;">
          <p
            style="font-family: Archivo, sans-serif; font-size: 30px; color: rgb(153,193,218); line-height: 1.8; margin: 0;text-align: center;">
            Here’s why you should be a part of our network:
          </p>
          <br><br>
          <table cellpadding="0" cellspacing="0" width="100%">
            
            <tr>
              <td width="2%" style="color: white;  font-size: 16px;font-family: Archivo, sans-serif;" >
                <img src="https://evolv.co.in/evolve_business/images/mailer/podcast.png" width="50px"
                  style="vertical-align: middle;  " />
                  </td><td width="98%" style="color: white;  font-size: 16px;padding: 15px;font-family: Archivo, sans-serif;">
                <p style="color: aqua; font-size: 20px; font-weight: bolder; ">PodTalk Power</p>Inspire others through
                your business story and expand your brand authenticity.
              </td>
              </tr>
              <tr>


              <td style="color: white;  font-size: 16px;font-family: Archivo, sans-serif;">
                <img src="https://evolv.co.in/evolve_business/images/mailer/community.png" width="50px"
                  style="vertical-align: middle; " />
                  </td><td width="98%" style="color: white;  font-size: 16px;padding: 15px;font-family: Archivo, sans-serif;">
                <p style="color: aqua; font-size: 20px; font-weight: bolder;">Diversified Business Community</p> Access
                a curated network across diverse industries.
        </td>
        </tr>
        <tr>
        <td style="color: white;  font-size: 16px;font-family: Archivo, sans-serif;">
          <img src="https://evolv.co.in/evolve_business/images/mailer/meeting.png" width="50px"
                  style="vertical-align: middle;  " />
                  </td><td width="98%" style="color: white;  font-size: 16px;padding: 15px;font-family: Archivo, sans-serif;">
          <p style="color: aqua; font-size: 20px; font-weight: bolder;">Business Meetings like No-Other</p> Experience
          high-value Cluster Meetings with only 7 Entrepreneurs per session.</td>

          </tr><tr>
             <td style="color: white;  font-size: 16px;font-family: Archivo, sans-serif;">
         <img src="https://evolv.co.in/evolve_business/images/mailer/conference.png" width="50px"
                  style="vertical-align: middle; " />
                  </td><td width="98%" style="color: white;  font-size: 16px;padding: 15px;font-family: Archivo, sans-serif;">
              <p style="color: aqua; font-size: 20px; font-weight: bolder;">Evolving Learning & Development Sessions</p>
          Learn life and business lessons directly from professional business coaches.</td>
          </tr>
          <tr>
        <td style="color: white;  font-size: 16px;font-family: Archivo, sans-serif;">
          <img src="https://evolv.co.in/evolve_business/images/mailer/event.png" width="50px"
                  style="vertical-align: middle;  " />
                  </td><td width="98%" style="color: white;  font-size: 16px;padding: 15px;font-family: Archivo, sans-serif;">
          <p style="color: aqua; font-size: 20px; font-weight: bolder;">Fun Clubs / Fun Networking Events</p> Enjoy
          engaging, relationship-building activities in a relaxed atmosphere.</td>
          </tr>
          <tr>
        <td style="color: white;  font-size: 16px;font-family: Archivo, sans-serif;">
          <img src="https://evolv.co.in/evolve_business/images/mailer/membership.png" width="50px"
                  style="vertical-align: middle; " />
                  </td><td width="98%" style="color: white;  font-size: 16px;padding: 15px;font-family: Archivo, sans-serif;">
          <p style="color: aqua; font-size: 20px; font-weight: bolder;">Limited Membership</p> Be part of an exclusive
          circle of 147 members — focused, purposeful, and Evolv-oriented.</td>
          
          </td>
      </tr>
      </table>
    </tr>

      <!-- CTA -->
      <tr>
        <td style="background-color: #000; text-align: center; padding: 40px 50px;">
          <p
            style="font-family: Archivo, sans-serif; font-size: 24px; font-weight: bold; color: #fff; margin-bottom: 20px;">
            Join Evolve Business Community today and take your business networking to the next level!
          </p>
          <a href="https://evolv.co.in/evolve_business/contact-us" target="_blank" rel="noreferrer" class="button"
            style="font-family: Archivo, sans-serif; font-size: 20px; font-weight: bold; color: #fff; padding: 15px 50px; background: linear-gradient(90deg, rgb(44,178,202) 0%, rgb(73,180,146) 100%); border-radius: 50px; border: 2px solid rgb(153,193,218); text-decoration: none; display: inline-block;">
            Register Now / Learn More
          </a>
        </td>
      </tr>

      <!-- FOOTER -->
      <tr>
        <td style="background: linear-gradient(90deg, rgb(73,180,146) 0%, rgb(44,178,202) 100%);">
          <table style="background: linear-gradient(rgb(0,0,0) 10%, rgba(44,178,202,0) 100%);" width="100%">
            <tbody>

              <tr>
                <td style="padding: 40px 50px; text-align: left;">

                </td>
              </tr>

              <tr>
                <td class="footer-links" style="padding: 30px 20px;">
                  <div style="float: left; font-family: Archivo, sans-serif; font-size: 18px; color: #fff;">
                    <p
                      style="font-family: Archivo, sans-serif; font-size: 18px; color: #fff; line-height: 1.6; margin: 0;">
                      <b>Evolve Business Community.</b> | Ahmedabad<br>
                      <a href="https://evolv.co.in" target="_blank" rel="noreferrer"
                        style="color: #fff; text-decoration: underline;"> <img src="https://evolv.co.in/evolve_business/images/mailer/web.png" width="20px" style="vertical-align: middle; "/> www.evolve.co.in</a> |
                      <a href="tel:9974897311" target="_blank" rel="noreferrer"
                        style="color: #fff; text-decoration: underline;"> <img src="https://evolv.co.in/evolve_business/images/mailer/phone.png" width="20px" style="vertical-align: middle; "/>9974897311</a>
                    </p>

                  </div>
                  <div style="float: right; font-family: Archivo, sans-serif; font-size: 18px; color: #fff;"><br>
                    <a href="https://www.facebook.com/" target="_blank" rel="noreferrer"><img
                        src="https://evolv.co.in/evolve_business/images/mailer/fab.png"
                        width="25px" style="vertical-align: middle; "/></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noreferrer"><img
                        src="https://evolv.co.in/evolve_business/images/mailer/insta.png"
                        width="25px" style="vertical-align: middle; "/></a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noreferrer"><img
                        src="https://evolv.co.in/evolve_business/images/mailer/youtube.png"
                        width="25px" style="vertical-align: middle; "/></a>
                    <a href="https://www.linkedin.com/company/" target="_blank" rel="noreferrer"><img
                        src="https://evolv.co.in/evolve_business/images/mailer/linkedin.png"
                        width="25px" style="vertical-align: middle; "/></a>
                    /evolv.network
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>

    </tbody>
  </table>

</body>

</html>